body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

p {
    color: red;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

div {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: .5em;
    color: #333333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: 1px solid #ccc;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 0.7em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}