<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uploaded Files</title>
</head>
<body>
<h1>Uploaded Files</h1>
<table>
    <thead>
    <tr>
        <th>File Name</th>
        <th>File Type</th>
        <th>Size (bytes)</th>
        <th>Download</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file : ${files}">
        <td th:text="${file.fileName}"></td>
        <td th:text="${file.fileType}"></td>
        <td th:text="${file.size}"></td>
        <td>
            <a th:href="@{/download/{id}(id=${file.id})}">Download</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/uploadFile">Upload another file</a>
</body>
</html>