<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />

</head>
<body>
<h1>Главная страница!</h1>
<a href="/mult">Multiply page</a>

<!-- Форма для выхода из системы -->
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

<!-- Добавление изображения -->
<div>
    <img src="/images/1.jpg" alt="Sample Image" />
</div>
</body>
<script>
    // Добавляем класс 'show' к изображению после загрузки страницы
    window.addEventListener('load', function() {
        document.getElementById('fade-in-image').classList.add('show');
    });
</script>
</html>