<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script src="@{/js/validation.js}" defer></script>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" method="post" onsubmit="return validateLoginForm()">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required minlength="4">
        <div id="usernameError" style="color:red"></div>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required minlength="8">
        <div id="passwordError" style="color:red"></div>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div th:if="${loginError}">
        <p style="color:red" th:text="${loginError}"></p>
    </div>
</form>
</body>
</html>