<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Result</title>
</head>
<body>
<h1>Submitted Information</h1>
<p>First Name: <span th:text="${user.firstName}"></span></p>
<p>Last Name: <span th:text="${user.lastName}"></span></p>
<p>Phone Number: <span th:text="${user.phoneNumber}"></span></p>

<h2>JSON Representation</h2>
<pre id="jsonOutput"></pre>

<script th:inline="javascript">
    /*<![CDATA[*/
    // Получаем данные пользователя из Thymeleaf
    const user = /*[[${user}]]*/ {};

    // Функция для отображения JSON представления данных пользователя
    function displayJson(user) {
        document.getElementById('jsonOutput').textContent = JSON.stringify(user, null, 2);
    }

    // Вызываем функцию для отображения JSON при загрузке страницы
    window.onload = () => displayJson(user);
    /*]]>*/
</script>
</body>
</html>